<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTPUT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></head>

</head>
<body>
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>The prediction is : {{y}}</h1>
                    <h3> 0 represents Not-placed</h3>
                    <h3> 1 represents Placed</h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>